body,
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Urbanist', sans-serif !important;
  font-weight: 400;
}

header {
  background-color: black;
}

.row,
.col,
.col-md-6,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1 {
  margin: 0 !important;
  padding: 0 !important;
}

.logo-background {
  background-size: cover;
  background-position: center;
  background-image: url(./images/header.jpg);
  height: 40vh;
  min-height: 350px;
  opacity: 0.7;
}

.logo {
  position: absolute;
  right: 1rem;
  top: 5rem;
  opacity: 1;
  width: 550px;
}

@media (max-width: 768px) {
  .logo {
    width: 400px;
    top: 10rem;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 400px) {
  .logo {
    width: 300px;
  }
}

.searchBar {
  background-color: #d8f0c2;
  width: 100%;
  margin: auto;
  padding-bottom: 1rem;
}

.searchBar-tile {
  font-weight: bold;
  text-align: center;
  margin: auto;
}
.searchBar-tile-left {
  font-weight: bold;
  padding-left: 2rem;
}
.searchBar-button-tile {
  margin-top: 1rem;
  text-align: center;
  padding-right: 2rem;
}

.searchBar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #ff0404;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.searchBar-select,
.searchBar-price,
.searchBar-date {
  background-color: #308653;
  color: white;
  border-radius: 10px;
}

.searchBar-select {
  width: 60%;
}

.searchBar-price {
  width: 40%;
}

.searchBar-date {
  width: 60%;
}
@media (max-width: 1150px) {
  .searchBar-price {
    width: 50%;
  }

  .searchBar-select {
    width: 70%;
  }

  .searchBar-date {
    width: 70%;
  }
}

@media (max-width: 880px) {
  .searchBar-price {
    width: 60%;
  }

  .searchBar-select {
    width: 80%;
  }

  .searchBar-date {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .searchBar-price {
    width: 50%;
  }

  .searchBar-tile {
    text-align: center;
    margin: auto;
  }

  .searchBar-select {
    width: 50%;
  }

  .searchBar-date {
    width: 50%;
  }

  .searchBar-tile {
    text-align: center;
    margin: auto;
    padding: 0;
  }

  .searchBar-tile-left {
    padding: 0;
  }

  .searchBar-button-tile {
    text-align: center;
    margin-top: 1rem;
    padding: 0;
  }
}

/* mainTiles */

.mainTiles {
  padding-top: 1rem;
}

.mainTiles-tile {
  margin: auto;
  width: 80%;
  background-size: cover;
  background-position: center;
  height: 40vh;
  min-height: 350px;
}

.mainTiles-col {
  padding: 1rem 0 1rem 0 !important;
}

.france {
  background-image: url(./images/mainTiles/mainTileFrance.jpg);
}

.czech {
  background-image: url(./images/mainTiles/mainTileCzech.jpg);
}

.gb {
  background-image: url(./images/mainTiles/mainTileGB.jpg);
}

.greece {
  background-image: url(./images/mainTiles/mainTileGreece.jpg);
}

.mainTiles-flag {
  width: 3.5rem;
  height: 2.5rem;
}

@media (max-width: 768px) {
  .mainTiles-flag {
    width: 2.5rem;
    height: 1.5rem;
  }
}
