body,
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Urbanist', sans-serif !important;
  font-weight: 400;
}

header {
  background-color: black;
}

.row,
.col,
.col-md-6,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1 {
  margin: 0 !important;
  padding: 0 !important;
}

.logo-background {
  background-size: cover;
  background-position: center;
  background-image: url(./images/header.jpg);
  height: 40vh;
  min-height: 350px;
  opacity: 0.7;
}

.logo {
  position: absolute;
  right: 1rem;
  top: 5rem;
  opacity: 1;
  width: 550px;
}

@media (max-width: 768px) {
  .logo {
    width: 400px;
    top: 10rem;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 400px) {
  .logo {
    width: 300px;
  }
}

.searchBar {
  background-color: #d8f0c2;
  width: 100%;
  margin: auto;
  padding-bottom: 1rem;
  font-size: 1.2rem;
}

.searchBar-tile {
  font-weight: bold;
  text-align: center;
  margin: auto;
}
.searchBar-tile-left {
  font-weight: bold;
  padding-left: 2rem;
}
.searchBar-button-tile {
  margin-top: 1rem;
  text-align: center;
  padding-right: 2rem;
}

.searchBar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #ff0404;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.searchBar-select,
.searchBar-price,
.searchBar-date {
  background-color: #308653;
  color: white;
  border-radius: 10px;
}

.searchBar-select {
  width: 60%;
}

.searchBar-price {
  width: 40%;
}

.searchBar-date {
  width: 60%;
}
@media (max-width: 1150px) {
  .searchBar-price {
    width: 50%;
  }

  .searchBar-select {
    width: 70%;
  }

  .searchBar-date {
    width: 70%;
  }
}

@media (max-width: 880px) {
  .searchBar-price {
    width: 60%;
  }

  .searchBar-select {
    width: 80%;
  }

  .searchBar-date {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .searchBar-price {
    width: 50%;
  }

  .searchBar-tile {
    text-align: center;
    margin: auto;
  }

  .searchBar-select {
    width: 50%;
  }

  .searchBar-date {
    width: 50%;
  }

  .searchBar-tile {
    text-align: center;
    margin: auto;
    padding: 0;
  }

  .searchBar-tile-left {
    padding: 0;
  }

  .searchBar-button-tile {
    text-align: center;
    margin-top: 1rem;
    padding: 0;
  }
}

/* mainTiles */

.mainTiles {
  padding-top: 1rem;
}

.mainTiles-tile {
  margin: auto;
  width: 80%;
  background-size: cover;
  background-position: center;
  height: 40vh;
  min-height: 350px;
}

.mainTiles-col {
  padding: 1rem 0 1rem 0 !important;
}

.france {
  background-image: url(./images/mainTiles/mainTileFrance.jpg);
}

.czech {
  background-image: url(./images/mainTiles/mainTileCzech.jpg);
}

.gb {
  background-image: url(./images/mainTiles/mainTileGB.jpg);
}

.greece {
  background-image: url(./images/mainTiles/mainTileGreece.jpg);
}

.mainTiles-flag {
  width: 3.5rem;
  height: 2.5rem;
}

@media (max-width: 768px) {
  .mainTiles-tile {
    width: 100%;
  }

  .mainTiles-flag {
    width: 2.5rem;
    height: 1.5rem;
  }
}

/*filters */
.search-section {
  margin: 2rem 1rem 0 1rem;
}
.filters {
  background-color: #308653;
  color: white;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
}

.filters h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.filter-button {
  background-color: #ff0404;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 956px) {
  .filter-price {
    width: 70%;
  }
}

.search-results h2 {
  background-color: rgb(212, 212, 212);
  border-radius: 20px;
  text-align: center;
  margin: 0 0 2rem 0;
}

@media (max-width: 768px) {
  .search-results {
    margin-top: 1rem;
  }
}

.result-tile {
  background-color: rgb(212, 212, 212);
  padding: 20px 10px 20px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.result-tile-image {
  text-align: center;
}

.result-tile-image img {
  border-radius: 20px;
}

.result-tile-info p {
  font-size: 1.4rem;
}

.result-tile-price p {
  font-size: 1.4rem;
}

.result-tile-price-price {
  font-size: 1.9rem;
  color: rgb(8, 8, 220);
}

@media (max-width: 1199px) {
  .result-tile-price {
    margin-top: 1rem;
  }
}

/* footer  */

footer {
  margin-top: 2rem;
  background-color: #308653;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.footer-icon {
  width: 50px;
  height: 50px;
  margin: 0.6rem;
}

.footer-image {
  width: 100%;
}

.footer-left {
  padding-top: 4rem;
}

@media (max-width: 1227px) {
  .footer-left {
    padding-top: 0;
  }
}

@media (max-width: 1041px) {
  footer {
    font-size: 1.2rem;
  }
}

@media (max-width: 993px) {
  footer {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  footer {
    font-size: 1.2rem;
  }
}

.footer-facebook:hover {
  color: #3b5998;
  font-weight: 800;
  cursor: pointer;
}

.footer-twitter:hover {
  color: #00acee;
  font-weight: 800;
  cursor: pointer;
}

.footer-instagram:hover {
  color: #bc2a8d;
  font-weight: 800;
  cursor: pointer;
}
